{%extends "blog/base.html"%}
{%block content%}
     <h1>About-</h1>
     <p>version-0.1</p>
     <div class="media content-section" >
     This is a simple blogging site that I tried to built,so that everyone can share their interest with people and get recognitions. If anyone is interested to carry on with the project can find the code in the respective github repository.<br>
     Thank You!!
     
     </div>
     <a href="https://github.com/artgoblin"><strong class="btn-info btn">link</strong></a>
{%endblock content%}