{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>blog-college</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main2.css' %}">
    
</head>
<body>
    <div class="title">
        <h1>Artgoblin</h1>
        
    </div>
    <div class="container">
        <div class="branch">
            <div></div>
        </div>
        <div class="owl">
            <div class="ear-l"></div>
            <div class="ear-r"></div>
            <div class="wing-l"></div>
            <div class="wing-r"></div>
            <div class="eye-l">
                <div class="eyeball"></div>
                <div class="eyelid"></div>
            </div>
            <div class="eye-r">
                <div class="eyeball"></div>
                <div class="eyelid"></div>
            </div>
            <div class="beak"></div>
            <div class="leg-l"></div>
            <div class="leg-r"></div>
            <div class="cloud" ></div>
        </div>
    </div>
    
</body>
</html> 